.errorMsg {
  max-width: 350px;
  color: #db0b31;
  padding: 2px 0;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}

.form-control {
  flex-direction: column;
  margin-bottom: 10px;
}

.form-control input[type="text"] {
  padding: 5px;
  margin-top: 10px;
}

button {
  max-width: 150px;
  padding: 5px 10px;
}

@media screen and (max-width: 600px) {
  body {
      width: 90%;
  }

  .errorMsg {
      max-width: 100%;
  }

  .form-control {
      flex-direction: column;
  }

  .form-control input[type="text"] {
      width: inherit;
  }
}